@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&family=Raleway:wght@300;700&display=swap');

:root{
  --background1: #ffffff;
  --background2: #dee2e6;
  --color1: #64b5f6;
  --color2: #1e88e5;
  --color3: #0d47a1;
  --color4: #0d1b2a;
}

body, html{
  margin: 0;
  padding: 0;
  background-color: var(--background1);
  font-family: 'Quicksand', sans-serif;
}

.navbar{
  background-color: var(--background1);
  font-size: 15px;
  font-weight: 700;
  height: 10vh;
  display: grid;
  place-items: center;
  grid-template-columns: 3fr repeat(4, 1fr) 1fr;
  color: var(--color4);
}
.navbar>div{
  width: 80%;
  height: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.navbar div:hover{
  color: var(--color3);
}
.navbar>.vercel{
  border: none;
  cursor: default;
  user-select: none;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar>.vercel:hover{
  color: var(--color4);
}
.navbar>.selectednav{
  color: var(--color2);
}
.pagesection{
  position: relative;
  padding: 2.5vh 5vw;
  min-height: 85vh;
  display: grid;
  place-items: center;
  background-color: var(--color4);
  overflow-x: hidden;
}
.homesection{
  background-color: var(--color4);
}
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  gap: 30px;
}
.title{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: var(--background1);
  font-size: 5vw;
}
.title span{
  color: var(--color2);
}
.homebutton{
  color: var(--background1);
  font-size: 20px;
  display: flex;
  font-weight: 700;
  align-items: center;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 10px;
  gap: 10px;
  border: solid 2px var(--background1);
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  transition: 0.5s;
  box-shadow: inset 0 0 0 0;
}
.homebutton:hover{
  color: var(--color2);
  box-shadow: inset 220px 0 0 0 var(--background1);
}
.homebutton svg{
  width: 20px;
  height: 20px;
}
.showprojects{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  margin-top: -100px;
}
.projectlogo{
  border-radius: 20px;
}
.showprojects>div{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color4);
}
.showprojects span{
  border: 2px solid var(--color3) !important;
}
.showprojects svg{
  height: 40px;
  width: 40px;
}
.showicons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}
.showtitle{
  width: 100%;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--color2);
  align-items: center;
}
.showicons>a{
  background-color: var(--background1);
  display: grid;
  place-items: center;
  color: var(--color4);
  border-radius: 10px;
  height: 50px;
  width: 50px;
}
.showicons>a:hover{
  background-color: var(--background2);
}
.showdescription{
  color: var(--background1);
  font-size: 20px;
}
.custom-shape-divider-top-1662411529 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1662411529 svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1662411529 .shape-fill {
  fill: #ffffff;
}
.techused{
  display: flex;
  gap: 10px;
}